
*.png
*.jpg

*.tx

.DS_Store

*.exr
*.hdr

ApolloProject/cache/TestPile3.abc

ApolloProject/scenes/Animation Scenes/Autosaves
*.avi

*.atom

ApolloProject/autosave/

ApolloProject/cache/nCache/Cleaning_CC_Slip_321_535FXVERSION/

ApolloProject/cache/alembic/RBDGoodiesCleaning.abc
